extends layout.pug

block content
  
  .container
    h2.cat_title CATALOGUE
    a(class="add_book_cta", href="/books/new") Add New Book

  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
