<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title SQL Library Manager
    link(href="https://fonts.googleapis.com/css?family=Abhaya+Libre" rel="stylesheet")
    link(rel='stylesheet', href='/static/stylesheets/normalize.css')
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body

    header 
      h1 SQL Library Manager

    nav
      ul
        li Add Book
        li Find Book
        li Update Book
        li Delete Book
block content