body {
  color: #fff;
  background-color: #e9e8e8;
  font-family: 'Abhaya Libre', serif;
}

/******** Header *********/

header{
  background-color: #07889b;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 20px 0;
  letter-spacing: 2px;
}

/******** Navigator *********/

nav {
  background-color: #66b9bf;
}

ul {
  margin: 0;
  padding: 0 5px;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
  display: flex;
  justify-content: space-around;
}

ul li,
.errors_list li {
  text-align: center;
  font-size: 1.5rem;
  flex-basis: 25%;
  margin: 10px 0;
  border-right: 1px solid #fff;
}

ul li:last-child{
  border: none;
}

ul li:hover {
  color: #07889b;
}

.add_book_cta:hover ,
ul li:hover {
  cursor: pointer;
}


p {
  margin: 20px auto;
}

h2 {
  color: #07889b;
  text-align: center; 
  font-size: 1.7rem;
}

/********* index view**********/

.add_book_cta {
  display: block;
  border-radius: 10px 10px;
  background-color: #eeaa7b;
  color: #fff;
  letter-spacing: 2px;
  padding: 5px 0;
  font-size: 1.5rem;
  border: 0;
}

.add_book_cta,
.search_area {
  width: 95%;
  margin: 0 auto;
}

/********* Search bar **********/

.search_area {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.search_area label {
  flex-basis: 15%;
  text-align: left;
}

.search_area input {
  flex-basis: 85%;
}

.hidden {
  display: none;
}

/********* table for all rows in DB **********/

table {
  margin: 25px auto 50px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
  color: #07889b;
  font-size: 1.2rem;
}

tr {
  min-height: 50px;
  font-size: 1.1rem;
}

tr,
tr a {
  color: #66b9bf;
}

tr:nth-child(2n),
tr:nth-child(2n) a {
  background-color: #eeaa7b;
  color: #fff;
}

td {
  padding: 5px 20px 5px 10px;
}

/********* Create Book view ********/

form {
  margin: 25px 0;
}

a {
  text-decoration: none;
  text-align: center;
  transition: 0.4s;
}

  a:hover,
  input[type=submit]:hover,
  .button:hover,
  .add_book_cta:hover {
    color: #07889b;
  }

  a:visited {
    color: inherit;
  }

a.button, 
input[type=submit] {
  color: white;
  background-color: #eeaa7b;
  padding: 10px 14px 12px;
  font-size: 1.5rem;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  letter-spacing: 2px;
}

a.button {
  display: inline-block;
  padding: 10px 0;
}

.cta_container {
  width: 90%;
  margin: 0 auto;
}

form a.button, input[type=submit] {
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
  margin: 25px auto;
}

label {
  min-width: 130px;
  transition: 0.4s;
  margin-bottom: 10px;
  color: #07889b;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}

input {
  padding: 10px;
  font-size: 1rem;
  letter-spacing: 1.5px;
  border-radius: 2px;
  border: 0;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
  margin-bottom: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/********* Update/Delete Book view ********/

#delete_form,
.back_cta {
  width: 90%;
  margin: 0 auto 50px;
}

#delete_form input{
  margin-top: 0;
}

/********* Not Found view ********/

.error_text {
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: #66b9bf;
}

.validation_error,
.errors_list li {
  color: rgb(236, 15, 15);
}

.errors_list {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  margin: 0 auto;
}

.errors_list li {
  flex-basis: 100%;
  border: 0;
}

/********** Media queries **********/

@media(min-width: 760px) {

  nav {
    width: 100%;
  }

  ul,
  .container,
  .back_cta {
    width: 80%;
    margin: 0 auto;
  }

  /********** index view ********/

  .cat_title {
    font-size: 2rem;
    margin: 35px 25px 0;
    text-align: left;
  }

    /*** Search area alignment ***/

    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 91%;
    }

    .container h2:first-child {
      flex-basis: 100%;
    }

    .container a,
    .container div {
      flex-basis: 25%;
    }

    .container div {
      margin-top: 25px;
    }

  .add_book_cta {
    display: inline-block;
    width: 180px;
    height: 28px;
    font-size: 1.25rem;
    margin: 25px;
    border-radius: 5px 5px;
  }

  table {
    width: 85%;
  }

  tr {
    font-size: 1.3rem;
  }

  /********* Create Book view ********/

  form {
    width: 70%;
    margin: 25px auto;
  }

  .field {
    flex-direction: row;
  }

  .field label {
    flex-basis: 35%;
  }

  .field input {
    flex-basis: 65%;
  }

  input[type=submit] {
    margin: 0;
  }

  .cta_container {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .cta_container div {
    flex-basis: 40%;
    margin-left: auto;
  }

  /********* Update/Delete Book view ********/

  #delete_form {
    width: 63%;
    padding-left: 7.5%;
  }
}

@media(min-width: 1020px) {

  ul li {
    font-size: 1.5rem;
  }

  .container {
    width: 80%;
  }

  .container div {
    flex-basis: 65%;
  }

  .container a {
    flex-basis: 30%;
    margin: 0;
  }

  table {
    width: 80%;
  }

  form {
    width: 55%;
  }

  #delete_form {
    width: 50%;
    padding-left: 5.75%
  }

  .back_cta {
    width: 25%;
  }
}